.carousel-inner img {
  height: 600px;
  width: 600px !important;
  padding: 25px;
  margin: auto !important; }

.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
  padding: 90px; }

.formulario {
  display: inline-block;
  padding: 30px;
  background-color: orange;
  margin: 55px;
  margin-top: 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border: solid  grey 15px; }
  .formulario h2 {
    color: #363636;
    text-align: center; }

.cajaform:focus {
  font-size: 23px; }

.botonEnviar {
  background-color: red;
  color: yellow;
  width: 240px;
  padding: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif; }

.botonEnviar:hover {
  background-color: gray; }

.mapa {
  margin-right: 100px;
  padding: 30px; }

.nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 30px; }

.nosotros img {
  width: 600px;
  height: 600px;
  box-shadow: 0 15px 15px black; }

.nosotrosTexto {
  max-width: 700px; }
  .nosotrosTexto h2 {
    font-size: 70px;
    padding: 40px; }
  .nosotrosTexto p {
    font-size: 25px;
    padding: 30px; }

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "panaderia_imagen panaderia " "confiteria confiteria_imagen" "pasteleria_imagen pasteleria" "salado salado_imagen"; }
  .productos div {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 25px; }
  .productos img {
    height: 90%;
    width: 90%;
    box-shadow: 0 10px 14px black; }
  .productos h2 {
    padding: 100px;
    font-size: 75px; }

.panaderia_imagen {
  grid-area: panaderia_imagen; }

.panaderia {
  grid-area: panaderia; }

.confiteria {
  grid-area: confiteria; }

.confiteria_imagen {
  grid-area: confiteria_imagen; }

.pasteleria_imagen {
  grid-area: pasteleria_imagen; }

.pasteleria {
  grid-area: pasteleria; }

.salado {
  grid-area: salado; }

.salado_imagen {
  grid-area: salado_imagen; }

.servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "img_servicios img_servicios img_servicios" "catering catering catering" "lista1 lista2 lista3";
  margin: 10px;
  padding: 50px; }
  .servicios img {
    width: 80%;
    padding: 30px; }
  .servicios div {
    display: flex;
    justify-content: center; }
  .servicios h2 {
    font-size: 50px;
    padding: 20px; }

.img_servicios {
  grid-area: img_servicios; }

.catering {
  grid-area: catering; }

.lista1 {
  grid-area: lista1; }

.lista2 {
  grid-area: lista2; }

.lista3 {
  grid-area: lista3; }

.card {
  margin: 20px;
  padding: 15px;
  background-color: #424141;
  box-shadow: 0 12px 16px black; }
  .card h4 {
    text-align: center; }
  .card li {
    list-style-type: circle;
    font-size: 25px;
    padding: 10px; }
  .card li:nth-child(even) {
    color: white; }
  .card p {
    text-align: center;
    font-size: 20px;
    color: white; }

footer {
  background: #ff0303;
  color: #d4d1d1;
  display: flex;
  justify-content: center;
  padding: 40px;
  font-size: 20px; }
  footer a {
    text-decoration: none;
    color: yellow;
    font-size: 20px; }

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0; }
  /*TITULO*/
  .titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #d4d1d1;
    text-align: center;
    background-image: linear-gradient(to left, #fc4a1a, #f7b733); }
  /*BODY*/
  body {
    background-color: #d4d1d1; }
  /*NOSOTROS*/
  .nosotros {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 30px; }
  .nosotros img {
    width: 400px;
    height: 400px; }
  .nosotrosTexto {
    max-width: 600px; }
  .nosotrosTexto h2 {
    font-size: 50px;
    text-align: center;
    padding: 40px; }
  .nosotrosTexto p {
    font-size: 25px;
    padding: 30px; }
  /*PRODUCTOS*/
  .productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "panaderia" "panaderia_imagen" "confiteria" "confiteria_imagen" "pasteleria" "pasteleria_imagen" "salado" "salado_imagen"; }
  .productos {
    justify-content: center; }
  .panaderia {
    grid-area: panaderia; }
  .panaderia_imagen {
    grid-area: panaderia_imagen; }
  .confiteria {
    grid-area: confiteria; }
  .confiteria_imagen {
    grid-area: confiteria_imagen; }
  .pasteleria {
    grid-area: pasteleria; }
  .pasteleria_imagen {
    grid-area: pasteleria_imagen; }
  .salado {
    grid-area: salado; }
  .salado_imagen {
    grid-area: salado_imagen; }
  .productos div {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 25px; }
  .productos div img {
    height: 60%;
    width: 60%; }
  .productos div h2 {
    padding: 100px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  /*SERVICIOS*/
  .servicios {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "img_servicios" "catering" "lista1" "lista2" "lista3"; }
  .servicios {
    justify-content: center; }
  .img_servicios {
    grid-area: img_servicios; }
  .catering {
    grid-area: catering; }
  .lista1 {
    grid-area: lista1; }
  .lista2 {
    grid-area: lista2; }
  .lista3 {
    grid-area: lista3; }
  .servicios img {
    width: 100%; }
  .servicios h2 {
    font-size: 20px;
    padding: 20px; }
  .servicios li {
    font-size: 15px;
    padding: 20px; }
  /*CONTACTO*/
  .contacto {
    display: grid;
    grid-template-areas: "mapa" "formulario"; }
  .contacto {
    justify-content: center; }
  .mapa {
    grid-area: mapa; }
  .formulario {
    grid-area: formulario;
    background-color: orange;
    justify-content: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: solid  grey 6px; }
    .formulario h2 {
      color: #363636;
      text-align: center; }
  .botonEnviar {
    background-color: red;
    color: yellow;
    width: 80px;
    padding: 10px;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif; }
  .boton:hover {
    background-color: grey; }
  .mapa {
    width: 100%;
    height: auto; }
  /*FOOTER*/
  footer {
    background: #ff0303;
    color: #d4d1d1;
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 15px; }
  footer a {
    text-decoration: none;
    color: yellow;
    font-size: 15px; } }

/*EXTEND*/
.h2gnrl, .nosotrosTexto h2, .productos h2, .servicios h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.list_catering, .card h4, .card li {
  color: #d65d07;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

* {
  margin: 0;
  padding: 0; }

/*TITULO*/
.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #d4d1d1;
  text-align: center;
  background-image: linear-gradient(to left, #fc4a1a, #f7b733); }

/*MENU DE NAVEGACION*/
.navbar {
  margin: 0;
  padding: 0; }

#navbarNav {
  justify-content: center; }
  #navbarNav li {
    padding: 20px; }
  #navbarNav a {
    color: #d4d1d1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px; }
  #navbarNav a:hover {
    color: #f5aa1f; }

/*BODY*/
body {
  background-color: #d4d1d1; }
