.contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
    padding: 90px;     
}
.formulario{
    display:inline-block;
    padding: 30px;
    background-color: orange;
    margin: 55px;
    margin-top: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: solid  grey 15px;

    h2{
        color: rgb(54, 54, 54);
        text-align: center;
    }
}

.cajaform:focus{
    font-size: 23px;
}

.botonEnviar{
    background-color: red;
    color: yellow;
    width: 240px;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.botonEnviar:hover{
    background-color: gray;
}

.mapa{
    margin-right: 100px;
    padding: 30px;
}
