
.contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 20px;
    padding: 60px;
}

.formulario{
    border: solid grey 7px;
    background-color: orange;
    width: 400px;
    padding: 60px;
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    h2{
        color: rgb(250, 17, 17);
        text-align: center;
        font-size: 40px;
    }
}

.cajaform:focus{
    font-size: 23px;
}

.botonEnviar{
    background-color: red;
    color: yellow;
    width: 245px;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.botonEnviar:hover{
    background-color: gray;
}

.mapa{
    margin: auto;
    padding: 20px;
}