@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
    
/*TITULO*/
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(212, 209, 209);;
    text-align: center;
    background-image: linear-gradient(to left,#fc4a1a,#f7b733);
}


/*BODY*/
body{
    background-color: rgb(212, 209, 209); 
}

/* INDEX */

.carousel-inner img{
    height: 300px;
    width: 300px !important;
    padding: 20px;
    margin: auto !important;
}

/*NOSOTROS*/
    .nosotros{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin: 30px;

        img{
            width: 400px;
            height: 400px;
        }
    }
    .nosotrosTexto{
        max-width: 600px;

        h2{
            font-size: 50px;
            text-align: center;
            padding: 40px;
        }

        p{
            font-size: 25px;
            padding: 15px;
        }
    }

/*PRODUCTOS*/
.productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "panaderia"
                        "panaderia_imagen"
                        "confiteria"
                        "confiteria_imagen"
                        "pasteleria"
                        "pasteleria_imagen"
                        "salado"
                        "salado_imagen";
    justify-content: center;

    div{
        display: flex;
        justify-content:center ;
        padding: 30px;
        margin: 25px;

    img{
        height: 70%; 
        width: 70%;
    }

    h2{
        padding: 100px;
        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    }
    }
}

.panaderia{
    grid-area: panaderia;
}
.panaderia_imagen{
    grid-area: panaderia_imagen;
}

.confiteria{
    grid-area: confiteria;
}
.confiteria_imagen{
    grid-area: confiteria_imagen;
}
.pasteleria{
    grid-area: pasteleria;
}
.pasteleria_imagen{
    grid-area: pasteleria_imagen;
}
.salado{
    grid-area: salado;
}
.salado_imagen{
    grid-area: salado_imagen;
}


/*SERVICIOS*/
    .servicios{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "img_servicios"
                            "catering"
                            "lista1"
                            "lista2"
                            "lista3";
        justify-content: center;

        img{
            width: 100%
        }
        h2{
            font-size: 50px;
            padding: 20px;
        }
        li{
            font-size: 15px;
            padding: 20px;
        }
    }
    .img_servicios{
        grid-area: img_servicios;
    }
    .catering{
        grid-area: catering;
    }
    .lista1{
        grid-area: lista1;
    }
    .lista2{
        grid-area: lista2;
    }
    .lista3{
        grid-area: lista3;
    }
    

/*CONTACTO*/
    .contacto{
        display: grid;
        grid-template-areas: "mapa"
                            "formulario";
        justify-content: center;
    }

    .mapa{
        grid-area: mapa;
        width: 100%;
        height: auto;
    }

    .formulario{
    border: solid grey 6px;
    background-color: orange;
    width: 300px;
    padding: 60px;
    margin: 40px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    h2{
        color: rgb(250, 17, 17);
        text-align: center;
        font-size: 25px;
    }
}

    .botonEnviar{
        background-color: red;
        color: yellow;
        width: 80px;
        padding: 10px;
        font-size: 8px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .boton:hover{
        background-color: grey;
    }

/*FOOTER*/
    footer{
        background:rgb(255, 3, 3);
        color: rgb(212, 209, 209);
        display: flex;
        justify-content: center;
        padding: 40px;
        font-size: 15px;

        a{
            text-decoration: none;
            color: yellow;
            font-size: 15px;
        }
    }
    
}