.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "img_servicios img_servicios img_servicios"
                        "catering catering catering"
                        "lista1 lista2 lista3";
    margin: 10px;
    padding: 50px;

    img{
        width: 80%;
        padding: 30px; 
    }

    div{
        display: flex;
        justify-content: center;
    }

    h2{
        @extend .h2gnrl;
        font-size: 50px;
        padding: 20px;
    }


}
.img_servicios{
    grid-area: img_servicios;
}
.catering{
    grid-area: catering;
}
.lista1{
    grid-area: lista1;
}
.lista2{
    grid-area: lista2;
}
.lista3{
    grid-area: lista3;
}

.card{
    margin: 20px;
    padding: 15px;
    background-color: rgb(66, 65, 65); 
    box-shadow: 0 12px 16px rgba(0,0,0,2);
    h4{
        @extend .list_catering;
        text-align: center;
    }

    li{
        @extend .list_catering;
        list-style-type: circle;
        font-size: 25px;
        padding: 10px; 
    }

    li:nth-child(even){
        color: white;
    }

    p{
        text-align: center;
        font-size: 20px;
        color: white;
    }
}
